@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
  background-color: hsl(var(--primary-light)) !important;
}

.rdrDayDisabled {
  background-color: hsl(var(--primary-muted)) !important;
}

/* html {
  @apply text-gray-700;
} */

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    /* --gray: 99, 99, 99; */

    /* For hsl(198deg 93% 60% / <alpha-value>) */
    /* /* --primary-highlight: 239, 100%, 61%; */
    --primary-muted: 239, 35%, 68%;
    --primary-light: 227, 100%, 92%; 

    /* For rgba(255, 115, 179, <alpha-value>) */
    /* --gray: 255, 115, 179; */
  }
}

/* Styling slides show for listings */
.carousel .slider-wrapper .slide img {
  border-radius: 4px;
}

.carousel .thumb.selected {
  border: 2px solid #f43f5e !important;
  border-radius: 3px;
}

.carousel .thumb:hover {
  border: 2px solid #f43f5e90 !important;
  border-radius: 3px;
}

.carousel .thumb img {
  border-radius: 2px;
}

.carousel-heart-outline-large {
  --size: 24px;
  --size: clamp(1.7rem, 5vw, 2.5rem);
  height: var(--size);
  width: var(--size);
}

.carousel-heart-filled-large {
  --size: 24px;
  --size: clamp(1.7rem, 5vw, 2.5rem);
  height: var(--size);
  width: var(--size);
}

.carousel-heart-outline-small {
  --size: 24px;
  height: 24px;
  width: 24px;
}

.carousel-heart-filled-small {
  --size: 24px;
  height: var(--size);
  width: var(--size);
}
