@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --test: #6e8bf7;
    --primary-muted: 240 30% 89%;
    --primary-light: 227 100% 92%;
    --primary: 227 90% 70%;
    --primary-dark: 227 90% 55%;

    --text-disabled: 0 0% 40%;
  }
}

html,
body,
:root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--primary-light));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
  background-color: hsl(var(--primary-light)) !important;
}

.rdrWeekDay {
  color: rgb(34, 34, 34) !important;
}

.rdrDayDisabled {
  background-color: hsl(var(--primary-muted)) !important;
}

.rdrDayDisabled .rdrDayNumber span {
  color: hsl(var(--text-disabled)) !important;
}

.rdrEndEdge {
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

.rdrStartEdge {
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
}

.rdrNextPrevButton {
  background-color: transparent !important;
}
/* html {
  @apply text-gray-700;
} */

/* Styling slides show for listings */
.carousel .thumb {
  border: 2px solid transparent !important;
}

.carousel .thumb.selected {
  border: 2px solid hsl(var(--primary-dark)) !important;
}

.carousel .thumb:hover {
  border: 2px solid hsl(var(--primary-dark) / 0.5) !important;
}

.carousel-heart-outline-large {
  --size: 24px;
  --size: clamp(1.7rem, 5vw, 2.5rem);
  height: var(--size);
  width: var(--size);
}

.carousel-heart-filled-large {
  --size: 24px;
  --size: clamp(1.7rem, 5vw, 2.5rem);
  height: var(--size);
  width: var(--size);
}

.carousel-heart-outline-small {
  --size: 24px;
  height: 24px;
  width: 24px;
}

.carousel-heart-filled-small {
  --size: 24px;
  height: var(--size);
  width: var(--size);
}
